---
layout: default
title: Web Afternoon
---

<section id="event-overview">
  <div class="section-heading highlight">
    <div class="section-heading-content">
      <h1>Not your ordinary Web conference.</h1>
      <h4>It&rsquo;s a lean and fast-paced half-day event designed with value in mind.</h4>
    </div>
  </div>
  <div class="row">
    <div class="info-block">
      <h3><i class="fa fa-bolt"></i> No Frills.</h3>
      <p>Other events spend lots of money on stuff you don&rsquo;t care about: flowers, dramatic lighting, and finger sandwiches. They pass that cost on to you.</p>
      <p>Not at Web Afternoon. We minimize the fluff and focus on delivering high-quality content from people in the know &mdash; at a price you can afford.</p>
    </div>
    <div class="info-block">
      <h3><i class="fa fa-comments"></i> Top-notch Speakers</h3>
      <p>Short talks without the ego. Great Q&A. Networking with people you really want to meet. Your tribe: people like you; people who get it.</p>
      <p>It&rsquo;s rare for so many great people to be in one spot at the same time. New friendships form. Conversations happen. Ideas are born.</p>
    </div>
    <div class="info-block">
      <h3><i class="fa fa-heart"></i> Love. Not Profit.</h3>
      <p>We believe in giving back to the community. That&rsquo;s why <em>every penny</em> from our events goes straight back to help local groups groups and meet-ups.</p>
      <p>Our previous events have generated more than $5,000 for Web and technology focused groups.  And we&rsquo;re just getting started.</p>
    </div>
  </div>
  <div class="row">
    <div class="highlight">
      <h4>You&rsquo;re not buying a ticket to pad someone&rsquo;s wallet. You&rsquo;re supporting the community you love.</h4>
    </div>
  </div>
</section>

<section id="event-details">
  <div class="speaker-list">
    <div class="section-heading">
      <div class="section-heading-content">
        <h3>Schedule & Speakers</h3>
      </div>
    </div>

    <div class="timeslot">
      <p class="start-time">12:00pm</p>
    </div>
    <div class="speaker">
      <div class="speaker-meta">
        <h4 class="speaker-name">Registration</h4>
        <h5 class="speaker-title"><a href="https://www.google.com/maps?q=35.2247,-80.8478+(Wells+Fargo+Auditorium,+430+S+Tryon+St,+Charlotte,+NC)">Wells Fargo Auditorium</h5>
        <div class="talk-excerpt"></div>
      </div>
    </div>

    {% for speaker in site.categories['speaker'] reversed %}
      {% include speaker-list-module.html %}
    {% endfor %}

    <div class="timeslot">
      <p class="start-time">7:00pm - 9:30pm</p>
    </div>
    <div class="speaker">
      <div class="speaker-meta">
        <h4 class="speaker-name">Community Holiday Party</h4>
        <h5 class="speaker-title"><a href="https://www.google.com/maps/place/Garage+At+Packard+Place/@35.226884,-80.846093,15z/data=!4m2!3m1!1s0x0:0xff05be5d8a6bde9c?sa=X&ei=_TNuVIm2AcbasATjlYKABQ&ved=0CIMBEPwSMAo">The Garage at Packard Place</a></h5>
        <div class="talk-excerpt">
          <p>For the past few years all of our Charlotte meetup and tech groups have gotten together to celebrate our fantastic tech community. Food and drink will be provided. Join us as each group will share what they have in store for 2015.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="sponsor-list">
    <div class="section-heading">
      <div class="section-heading-content">
        <h3>Sponsors</h3>
      </div>
    </div>
    {% for sponsor in site.data.sponsors %}
      {% include sponsor-list-module.html %}
    {% endfor %}
  </div>
</section>

<section id="tickets">
  <div class="section-heading">
    <div class="section-heading-content">
      <h3>Get Your Tickets</h3>
    </div>
  </div>
  <div class="ticket-form">
    <tito-widget event="queencityacademy/web-afternoon-2014"></tito-widget>
    <!-- <iframe src="https://www.eventbrite.com/tickets-external?eid={{ site.data.event-info.eventbrite-id }}&ref=etckt" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe> -->
    <a href="https://www.eventbrite.com/e/{{ site.data.event-info.eventbrite-url }}" class="btn btn-lg btn-primary">Get Tickets Here</a>
  </div>

</section>