<div class="timeslot">
  <p class="start-time">{{ speaker.date | date: "%-I:%M%p" }}</p>
</div>
<div class="speaker">
  <div class="speaker-photo">
    <a href="{{ speaker.url }}"><img src="/img/speakers/{{ speaker.bio-photo }}"></a>
    <div class="speaker-contact">
      <a class="speaker-facebook" href="https://www.facebook.com/{{ speaker.facebook-profile }}"><i class="fa fa-facebook-square"></i><span>Facebook</span></a>
      <a class="speaker-twitter" href="https://twitter.com/{{ speaker.twitter-handle }}"><i class="fa fa-twitter-square"></i><span>Twitter</span></a>
      <a class="speaker-link" href="http://{{ speaker.website-url }}"><i class="fa fa-home"></i><span>Link</span></a>
    </div>
  </div>
  <div class="speaker-meta">
    <h4 class="speaker-name"><a href="{{ speaker.url }}">{{ speaker.name }}</a></h4>
    <h5 class="speaker-title">{{ speaker.role }}{% if speaker.company %}, <a href="http://{{ speaker.company-url }}">{{ speaker.company }}</a>{% endif %}</h5>
    <div class="talk-excerpt">{{ speaker.content | strip_html | truncatewords:75}}</div>
  </div>
</div>
