//////////////////////////
// Variables
//////////////////////////

$brand-primary: #F3480F;
$brand-secondary: #3878B9;
$link-color: #3878b9;
$link-hover-color: darken($link-color, 20%);

$facebook-link-color: #3B5998;
$twitter-link-color: #00ACED;
$website-link-color: #E6300A;


//////////////////////////
// Typography

$font-family-sans-serif: "proxima-nova-1","proxima-nova-2","Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "adelle-1","adelle-2",georgia,serif;
$font-size-base: 16px;