////////////////////////////////////////////////////////////////////
// WEB AFTERNOON -=- styles.scss


@import 'variables','../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss','responsive','mixins';

html,body {
  height: 100%;
}

//////////////////////////
// Typography
//////////////////////////

a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}

h1, h2, h3 {
  color: $brand-primary;
  font-family: $font-family-serif;
}
h4 {
  color: $gray;
  font-weight: bolder;
}

//////////////////////////
// Structure
//////////////////////////

body {
  background: url(/img/bg-wrap.jpg) center top;
  color: $gray-darker;
  padding:0;
  margin:0;
}

#content {
  background-color: #fff;
  padding-bottom: 4em;
  padding-top: 2em;
}

//////////////////////////
// Header
//////////////////////////

header {
  @extend .container;
  color: #fff;

  .cta a {
    @extend .btn;
    @extend .btn-primary;
  }

  .hero {
    @include make-row();
    h1 {
      color: #fff;
      font-weight: bold;
      text-shadow: 0 2px 0 #020202;
      @include breakpoint(md) { font-size:1.8em; }
      @include breakpoint(sm) { font-size: 1.5em; }
    }
    h2 {
      color: darken(#fff, 20%);
      text-shadow: 0 1px 0 #020202;
      @include breakpoint(md) {
        font-size:1em;
        margin-bottom:2em;
      }
      @include breakpoint(sm) {
        font-size: .8em;
      }
    }
  }

  &.full {
    background: url(/img/bg-header.jpg) no-repeat center bottom;
    margin-bottom:2em;
    margin-top:0;
    padding:3em 0 0;
    text-align: center;
    .hero {
      margin:0 auto 2em;
    }
    .brand, .message, .cta {
      @include make-sm-column(12)
    }
    .cta {
      padding-top:20px;
      a {
        @extend .btn-lg;
      }
    }
  }
  &.thin {
    margin-bottom:1em;
    margin-top:0;
    padding:1em 0 0;
    text-align: left;
    .brand {
      @include make-sm-column(1);
      img {
        @extend .img-responsive;
      }
    }
    .message {
      @include make-sm-column(9);
      h1 { font-size: 1.5em; margin: 10px 0 0; }
      h2 { font-size: 1em; margin: 0; }
    }
    .cta {
      @include make-sm-column(2);
      padding-top: 14px;
      text-align: right;
    }
  }
}



//////////////////////////
// Globals
//////////////////////////

.section-heading {
  @include make-row();
  border-bottom: 1px solid #ddd;
  .section-heading-content {
    @include make-sm-column(12);
    h1, h2, h3 {
      color: $brand-primary;
    }
  }
}

.highlight {
  margin-bottom:2em;
  text-align: center;
  p {
    font-size: 1.25em;
    margin:0;
    padding:0;
  }
}

.info-block {
  @include make-sm-column(4);
  h3, h4 {
    color: $gray;
    .fa {
      color: $brand-primary;
    }
  }
}

//////////////////////////
// Event
//////////////////////////

#event-overview {
  padding: 2em 0 0;
  .highlight {
    @include make-sm-column(12);
  }
  .info p {
    margin-bottom:1.35em;
  }
}

.speaker-list {
  @include make-sm-column(8);
}
.sponsor-list {
  @include make-sm-column(4);
}

#event-supplemental {
  @include make-row();
  border-top: 2px solid #ddd;
  margin-bottom: 2em;
  padding-top: 2em;

  .map img {
    @extend .img-responsive;
  }
}

#event-details {
  @include make-row();
}


//////////////////////////
// Speakers
//////////////////////////

.speaker-list {
  .timeslot {
    @include make-row();
    padding:1em 0 0;
    .start-time {
      @include make-sm-column(12);
      color:#888;
      font-weight: bold;
      text-transform: lowercase;
    }
  }
}

.speaker {
  @include make-row();
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 0 0 2.5em;
  &:last-child {
    border-bottom:0 ;
  }
  .speaker-photo {
    @include make-sm-column(2);
    img {
      @extend .img-responsive;
      @extend .img-rounded;
      min-width:100%;
    }
  }
  .speaker-meta {
    @include make-sm-column(10);
    .speaker-name {
      font-size:2em;
      font-weight: bold;
      margin: 0;
    }
  }
  .speaker-title {
    color:#999;
    font-size: 1.2em;
    font-weight: normal;
    margin:0;
    padding: .25em 0;
  }
  .speaker-bio {
  }
}

.speaker-contact {
  margin:1em 0;
  a {
    @extend .btn;
    @extend .btn-xs;
    @extend .btn-default;
  }
}

.talk-info {
  border-bottom: 1px solid #ddd;
  margin-bottom: 2em;
  padding: 2em 0 3em;
}


.break {
  background-color: #eee;
  color:#888;
  font-family:"proxima_nova_light", helvetica, arial, sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  padding: .5em 0;
  text-align: center;
  text-transform: uppercase;
  p {
    margin:0;
    padding:0;
  }
}

//////////////////////////
// SPONSORS
//////////////////////////

.sponsor-list {
  .sponsor {
    text-align: center;
  }
}


//////////////////////////
// TICKETS
//////////////////////////

#tickets {
  @include make-row();
  border-top: 2px solid #ddd;
  padding-top:2em;
  .ticket-form {
    @include make-sm-column(12);
    margin: 2em 0 3em;
    iframe {
      @include breakpoint(xs) { display: none; }
    }
    .btn {
      display: none;
      @include breakpoint(xs) {
        display: block;
        margin:2em auto 5em;
        text-align: center;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////
// Footer
////////////////////////////////////////////////////////////////////

footer {
  background: url(/img/bg-wrap.jpg) center top;
  color:#ddd;
  padding:2em 0;
  text-align: center;
  a {
    color:#eee;
    &:hover{
      color:#fff;
    }
  }
  nav {
    padding:1em 0;
    @include breakpoint(sm) {
      a {
        display: block;
        font-size: .8em;
        margin-bottom:.65em;
      }
      span { display: none; }
    }
  }
  .credits, .copyright {
    font-size: .85em;
    p { margin-top: 1em; }
    @include breakpoint(sm) {
      font-size: .8em;
    }
  }
}


// END
////////////////////////////////////////////////////////////////////