// WEB AFTERNOON
// styles.scss

@import '../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss','responsive','mixins';

html,body {
  height: 100%;
}

////////////////////////////////////////////////////////////////////
// Typography
////////////////////////////////////////////////////////////////////

body {
  color: #525358;
  font: normal 16px/1.35em "proxima-nova-1","proxima-nova-2", helvetica, arial, sans-serif;
}

a {
  color: #3878b9;
  &:hover {
    color: #22568b;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
}

h1, h2, h3 {
  font-family: "adelle-1","adelle-2",georgia,serif;
  font-weight: normal;
  line-height: 1.2em;
}
h1 {
  font-size: 2.533em;
}
h2 {
  color: #3878b9;
  font-size: 2em;
  margin:0 0 .5em 0;
  &.section-header {
    color: rgb(56, 120, 185);
    @include breakpoint(medium) { font-size:1.85em; }
  }
}
h3 {
  font-weight: normal;
  &.section-header {
    color: rgb(56, 120, 185);
  }
}
h4 {
  font-size: 1.25em;
  font-weight: normal;
}

p {
  font-size: 1em;
  line-height: 1.35em;
  margin-bottom: 1.35em;
}

b,strong {
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

////////////////////////////////////////////////////////////////////
// Structure
////////////////////////////////////////////////////////////////////

body {
  background: url(/img/bg-wrap.jpg) center top;
  padding:0;
  margin:0;
}

.container {
  @include breakpoint(medium) { margin-left: 1em; margin-right: 1em; }
}

#content {
  background-color: #fff;
  padding-top: 2em;
}

////////////////////////////////////////////////////////////////////
// Header
////////////////////////////////////////////////////////////////////

header {
  background: url(/img/bg-header.jpg) no-repeat center bottom;
  color: #fff;
  margin-bottom:3em;
  margin-top:0;
  padding:3em 0 0;
  text-align: center;
  #hero {
    margin:0 1em 4em;
    .brand {
      width: 200px;
      height: 187px;
      display: block;
      margin:2em auto;
      background: url(/img/logo.png) no-repeat;
    }
    h1 {
      text-shadow: 0 2px 0 #010356;
      margin: 0 0 13px 0;
      @include breakpoint(medium) { font-size:1.8em; }
      @include breakpoint(small) { font-size: 1.5em; }
    }
    h2 {
      color: #ddd;
      font-size: 1.35em;
      text-shadow: 0 1px 0 #010328;
      line-height: 1.33em;
      @include breakpoint(medium) {
        font-size:1em;
        margin-bottom:2em;
      }
      @include breakpoint(small) {
        font-size: .8em;
      }
    }
  }
}

.highlight {
  margin-bottom:2em;
  text-align: center;
  h2 {
    @include breakpoint(medium) {
      font-size: 1.5em;
    }
  }
  p {
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.35em;
    margin:0;
    padding:0;
  }
}

.info-block {
  @include make-sm-column(4);
}



////////////////////////////////////////////////////////////////////
// Event Overview
////////////////////////////////////////////////////////////////////

#event-overview {
  padding: 2em 0 0;
  .highlight {
    @include make-sm-column(12);
  }
  .info p {
    margin-bottom:1.35em;
  }
}

////////////////////////////////////////////////////////////////////
// Event Details
////////////////////////////////////////////////////////////////////

#event-supplemental {
  @include make-row();
  border-top: 2px solid #ddd;
  margin-bottom: 2em;
  padding-top: 2em;

  .map img {
    @extend .img-responsive;
  }
}

#event-details {
  @include make-row();
}
.speaker-list {
  @include make-sm-column(8);
}
.sponsor-list {
  @include make-sm-column(4);
}


////////////////////////////////////////////////////////////////////
// Speakers
////////////////////////////////////////////////////////////////////

.speaker-list {
  .timeslot {
    @include make-row();
    border-top: 1px solid rgb(221, 221, 221);
    padding:1em 0 0;
    .start-time {
      @include make-sm-column(12);
      color:#888;
      font-weight: bold;
      text-transform: lowercase;
    }
  }

  .speaker {
    @include make-row();
    padding: 0 0 2.5em;

    .speaker-photo {
      @include make-sm-column(2);
      img {
        @extend .img-responsive;
        @extend .img-rounded;
        min-width:100%;
      }
      .speaker-contact {
        display: block;
        text-align: center;
      }
    }

    .speaker-meta {
      @include make-sm-column(10);
      .speaker-name {
        font-size:2.5em;
        margin: 0;
      }
      .speaker-title {
        color:#999;
        font-size: 1.2em;
        font-weight: normal;
        margin:0;
        padding: .25em 0;
      }
    }
    .speaker-contact {
      a span {
        display: none;
      }
    }
    .speaker-bio {
      display: none;
      @include breakpoint(medium) { display: none;  }
    }
  }
}


.break {
  background-color: #eee;
  color:#888;
  font-family:"proxima_nova_light", helvetica, arial, sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  padding: .5em 0;
  text-align: center;
  text-transform: uppercase;
  p {
    margin:0;
    padding:0;
  }
}



////////////////////////////////////////////////////////////////////
// TICKETS
////////////////////////////////////////////////////////////////////

#tickets {
  border-top: 2px solid #ddd;
  padding-top:2em;
  .ticket-form {
    display: block;
    @include breakpoint(small) { display: none;  }
  }
  .ticket-button {
    display: none;
    @include breakpoint(small) {
      display: block;
      margin:2em auto 5em;
      text-align: center;
    }
  }
}

////////////////////////////////////////////////////////////////////
// Other
////////////////////////////////////////////////////////////////////

.module {
  margin-bottom:2em;
  min-height: 140px;
  padding-top: 30px;
  text-align: center;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  &.charleston { background-image: url(/img/bg-charleston.jpg); }
  &.boston { background-image: url(/img/bg-boston.jpg); }
  &.host { background-image: url(/img/bg-hosting.jpg); }
  .button.red {
    font-size: .9em;
  }
  h3 {
    font-size: 2em;
    margin-bottom: 1em;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }
}

////////////////////////////////////////////////////////////////////
// Footer
////////////////////////////////////////////////////////////////////

footer {
  background: url(/img/bg-wrap.jpg) center top;
  color:#ddd;
  padding:2em 0;
  text-align: center;
  a {
    color:#eee;
    &:hover{
      color:#fff;
    }
  }
  nav {
    font-size: 1.5em;
    padding:1em 0;
    @include breakpoint(small) {
      a {
        display: block;
        font-size: .8em;
        margin-bottom:.65em;
      }
      span { display: none; }
    }
  }
  .credits, .copyright {
    font-size: .85em;
    p { margin-top: 1em; }
    @include breakpoint(small) {
      font-size: .8em;
    }
  }
}


/* Contact Form
------------------------------------------------- *** */
#contact-form { padding: 50px 0 7px 0; }

#contact-form .column { width: 633px; }

#contact-form .field {
  padding: 0 0 20px 0;
}

#contact-form .field label {
  color: #3878b9;
  font-weight: bold;
  margin: 0 0 9px 0;
  display: block;
}

#contact-form .column .field .input { width: 283px; }

#contact-form .selectr,
#contact-form .selectr #uniform-option.selector select,
#contact-form .selectr .selector select,
#contact-form .selectr .selector { width: 306px; }

#contact-form .selectr .selector span { width: 283px; }

#contact-form .column .field textarea.input {
  width: 610px;
  height: 150px;
}

#contact-form .column #submit { width: 100px; }

#contact-form .sidebar { text-align: center; }

#contact-form .sidebar h2 { margin: 0 0 20px 0; }



/* Form Elements
------------------------------------------------- *** */
input,
select,
textarea,
button {
  color: #525358;
}

.input {
  padding: 5px 10px 6px 13px;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.15), 0 0 3px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.15), 0 0 3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.15), 0 0 3px 0 rgba(0, 0, 0, 0.05);
}

.input:focus {
  border: 1px solid #a8dcf9;
  -webkit-box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.15), 0 0 7px 0 rgba(30, 166, 254, 0.35);
  -moz-box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.15), 0 0 7px 0 rgba(30, 166, 254, 0.35);
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.15), 0 0 7px 0 rgba(30, 166, 254, 0.35);
}

::-webkit-input-placeholder { color: #b8b8b8; }
:-moz-placeholder { color: #b8b8b8; }
:-ms-input-placeholder { color: #b8b8b8; }

.selectr {
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 33px;
  cursor: pointer;
  background: #f9f9f9;
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
  background: -o-linear-gradient(top, #f9f9f9 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #f9f9f9 0%, #e5e5e5 100%);
  background: linear-gradient(to bottom, #f9f9f9 0%, #e5e5e5 100%);
  -webkit-box-shadow: inset 0 1px 0 0 #fff, 0 0 3px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 0 #fff, 0 0 3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 0 #fff, 0 0 3px 0 rgba(0, 0, 0, 0.05);
}

.selectr .selector span {
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px 6px 13px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  background: url(/img/icon-select.png) no-repeat right 14px;
}

.selector {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.selector select { border: none !important; }

.selector,
.selector select {
  padding: 0 !important;
  height: 35px !important;
}

#uniform-option,
#uniform-option.selector select,
.selector select {
  position: absolute;
  top: 0;
  left: 0;
}

/* Global
------------------------------------------------- *** */
.button {
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  background: #f3480f;
  background: -moz-linear-gradient(top, #f3480f 0%, #da1905 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3480f), color-stop(100%, #da1905));
  background: -webkit-linear-gradient(top, #f3480f 0%, #da1905 100%);
  background: -o-linear-gradient(top, #f3480f 0%, #da1905 100%);
  background: -ms-linear-gradient(top, #f3480f 0%, #da1905 100%);
  background: linear-gradient(to bottom, #f3480f 0%, #da1905 100%);
  &:hover {
    background: -moz-linear-gradient(top, #da1905 0%, #f3480f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #da1905), color-stop(100%, #f3480f));
    background: -webkit-linear-gradient(top, #da1905 0%, #f3480f 100%);
    background: -o-linear-gradient(top, #da1905 0%, #f3480f 100%);
    background: -ms-linear-gradient(top, #da1905 0%, #f3480f 100%);
    background: linear-gradient(to bottom, #da1905 0%, #f3480f 100%);
    text-decoration:none;
  }
}

.ie9 .button { background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzNDgwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYTE5MDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); }

.button.small {
  font-size: 1em;
  padding: 8px 0 9px 0;
}

.button.red {
  font-size: 1.100em;
  font-weight: normal;
  padding: 14px 18px 12px;
  -moz-box-shadow: 0 5px 2px 0 rgba(3, 4, 4, 0.21), 0 0 60px 0 rgba(7, 16, 78, 0.65);
  -webkit-box-shadow: 0 5px 2px 0 rgba(3, 4, 4, 0.21), 0 0 60px 0 rgba(7, 16, 78, 0.65);
  box-shadow: 0 5px 2px 0 rgba(3, 4, 4, 0.21), 0 0 60px 0 rgba(7, 16, 78, 0.65);
}

.button:hover {
  color: #fff;
}

.box {
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


// COMING SOON PAGE

#events {
  border-bottom: 1px solid rgb(238, 238, 238);
  border-top: 1px solid rgb(238, 238, 238);
  margin-bottom: 3em;
  padding: 2em 0;
  h1 {
    text-align:center;
  }
  .eventlist {
    padding: 2em 0;
  }
  #mc_embed_signup form {
    padding:0;
  }

}
